@import "tailwindcss";

:root {
  font-family:
    "Nunito",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Segoe UI",
    sans-serif;

  color: #4b4552;
  background: #fff7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  font: inherit;
}

* {
  box-sizing: border-box;
}